# dependencies
/node_modules
/.pnp
.pnp.*

# next.js
/.next/
/out/

# production
/build

# local environment files
.env*
!.env.example

# debug
npm-debug.log*
.npm-cache/
server*.log
site-server*.log
yarn-debug.log*
pnpm-debug.log*

# OS / editors
.DS_Store
Thumbs.db
.idea/
.vscode/

# TypeScript
*.tsbuildinfo
next-env.d.ts
